<!-- <ul class="nav d-flex align-items-cente flex-column">
    <li *ngFor="let i of grupos">
        <a href="#" (click)="grupoClicado.emit(i)">{{i.desc}}</a>
    </li>
</ul> -->

<div class="container">
    <div class="row">
        <div class="mt-3">
            <ul class="list-group list-group-horizontal">
                <li class="list-group" *ngFor="let g of grupos" >
                <a (click)="grupoClicado.emit(g)">{{g.desc}}</a>
                </li>
                
            </ul>
        </div>
    </div>
</div>

